#shared_item_container{
	position: absolute; 
	left: 20px; 
	top: 75px; 
	width: 200px; 
	height: 70px;
}
#ImageTile-1259_0{
	width:48px;
	height:48px; 
	overflow: hidden;
}
#search_results, #edit_results{
	position: relative;
	top: 70px;
	width: 700px;
}
#search_results_header, #edit_results_header{
	position: relative;
	left: 20px;
}
#item_to_share{
	cursor: pointer;
}
.searchData{
	cursor: pointer;
}
.selected{
	cursor: pointer;
	background-color: #A4A4A4;
	border-radius: 5px;
	width: 500px;
	padding-left: 5px;
}
#share_button, #save_button{
	position: absolute;
	left: 20px;
	top: -10px;
	padding: 4px 8px;
}
#edit_button{
	top: 5px;
	left: 120px;
	padding: 1px 4px;
}

#shared_item_container{
	position: relative;
	top: 20px;
}
#sharedList{
	top: 20px;
}
.uid{

}
#search_edit_button{
	position: relative;
	left: 20px;
}
#search_view_button{
	position: relative;
	left: 50px;
}
#allow_edit_button{
	position: relative;
	left:100px;
}
#allow_view_button{
	position: relative;
	left: 100px;
}
#results{
	position: absolute;
	left: 180px;
}
